*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}

 h1{
    text-align: center;
    padding-bottom: 10px;
 }
 .container {
    padding:0 15px;
    float: left; /* important */
    width:31%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: inline;
    margin:5px;
}

.container:hover{
    transform: scale(0.8);
}

 img{
    width:100%;
    height:auto;
    padding:0;
}
.desc {
    text-align: center;
    padding:15px;
}



@media only screen and (max-width:820px){
    .container {
        width:100%;
        margin:10px 0;
    }
}